* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

h2 {
  margin-top: 40px;
}

.container {
  border: 2px dashed #ccc;
  padding: 30px;
  margin: 10px 0;
  height: 150px;
  background: #f9f9f9;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.container {
  display: flex
}

.ejercicio-1 .container {
  justify-content: center;
  align-items: center;
}

.ejercicio-2 .container {
  flex-direction: row;
  align-items: center;
}

.ejercicio-3 .container {
  justify-content: space-around;
}

.ejercicio-4 .container {
  flex-direction: row-reverse;
  justify-content: start;
}

.ejercicio-5 .container {
  flex-direction: column;
}

.ejercicio-6 .container {
  justify-content: flex-end;
}

.ejercicio-7 .container {
  align-items: center;
}

.ejercicio-8 .blue {
  width: 100px
}